/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333333;
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 0;
}


input[type="password"],
input[type="text"],
input[type="date"]{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #2c3471;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #2c3471;
  color: #ffffff;
}

input[readonly] {
  background-color: #f0f0f0;
}

/* Login Screen Styles */
#login-screen {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

/* Dashboard Styles */
#dashboard {
  padding: 20px;
  text-align: center;
}

/* Form Styles */
#new-invoice-form {
  max-width: 600px;
  margin: 0 auto;
}

/* Recommended Items Styles */
#recommendations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.recommendation {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.recommendation button {
  margin-top: 10px;
}

/* Billing and Payment Styles */
#billing-payment {
  max-width: 600px;
  margin: 0 auto;
}

#payment-status {
  margin-top: 20px;
}

#invoice-details {
  margin-bottom: 20px;
}
